<footer class="footer">
  <a alt="Lleva a la sección vuelta al cole" href="#start">
    <img class="footer__arrow" src="./assets/images/ico-arrow.svg" alt="Es un icono que te lleva al inicio de la página">
    </a>
  <nav class="footer__nav">
    <ul class="footer__nav--products">
      <li>
        <a class="footer__nav--link" alt="Lleva a otra página" href="https://adalab.es/" target="_blank">zapatillas</a>
      </li>
      <li>
        <a class="footer__nav--link" alt="Lleva a otra página" href="https://adalab.es/" target="_blank">ropa</a>
      </li>
      <li>
        <a class="footer__nav--link"alt="Lleva a otra página" href="https://adalab.es/" target="_blank">niño/a</a>
      </li>
      <li>
        <a class="footer__nav--link" alt="Lleva a otra página" href="https://adalab.es/" target="_blank">destacados</a>
      </li>
      <li>
        <a class="footer__nav--link" alt="Lleva a otra página" href="https://adalab.es/" target="_blank">tips</a>
      </li>
    </ul>
    <ul class="footer__nav--social">
      <li>
        <a class="footer__nav--link" alt="Lleva a otra página" href="https://adalab.es/" target="_blank">twitter</a>
      </li>
      <li>
        <a class="footer__nav--link" alt="Lleva a otra página" href="https://adalab.es/" target="_blank">instagram</a>
      </li>
      <li>
        <a class="footer__nav--link" alt="Lleva a otra página" href="https://adalab.es/" target="_blank">youtube</a>
      </li>
    </ul>
    <ul class="footer__nav--copy">
      <li>©  2023</li>
      <li>we <icon class="footer__nav--icon">❤︎ </icon>run</li>
    </ul>
  </nav>
</footer>
</body>
</html>
