<header class="header" id="start">
  <a alt="Lleva a otra página" href="https://adalab.es/" target="_blank">
  <img class="header__menu--icon" src="./assets/images/ico-menu.svg" alt="Es el icono de menú" href="https://adalab.es/">
  </a>
  <div class="header__content">
   <h1 class="header__content--title">comienzos compartidos</h1>
   <p class="header__content--text">Todo lo que necesitan para volver al cole con ilusión
   </p>
   <a alt="Lleva a la sección vuelta al cole" href="#school">
   <img class="header__content--scroll" src="./assets/images/ico-scroll-down.svg" alt="Es un icono que te lleva a la siguiente sección">
   </a>
  </div>
</header>